@import "./bootstrap.scss";
@import "./variables.scss";
@import "./media-query.scss";

// custom css
.root-container {
    padding : 0 1rem;
}

.page {
    padding : 1rem;
}

// card
.card {
    .card-block:first-child {
        border-bottom : $gray-lightest solid 1px;
    }
    .card-title {
        color         : $gray;
        font-size     : $font-size-base;
        margin-bottom : 0;
    }
}