.toolbar
    h5 图形
    ul.list-unstyled
        li( v-for="(value, key) in types" v-on:click="selectType(value)" v-bind:class="{ active: selectedType==value }") {{key}}

    ul.list-unstyled
        li(v-on:click="showDelete(true)") 删除
        li(v-on:click="saveCovers()") 保存