@import "../../../css/variables";

#cover-type {
    background : $btn-secondary-bg;
    border     : $gray-lighter solid 1px;
    width      : 5rem;
    text-align : center;
    h5 {
        padding       : .5rem;
        line-height   : 2rem;
        background    : $brand-info;
        margin-bottom : 0;
        color         : white;
        font-size     : $font-size-base;
        font-weight   : $font-weight-base;
    }
    ul {
        li {
            border-top  : $gray-lightest solid 1px;
            line-height : 4;
            cursor      : pointer;
            &:hover {
                background : $gray-lighter;
            }
            &.active {
                background : $brand-primary;
                color      : white;
            }
        }
    }
}