#playback-search
    form.form-inline
        .form-group
            label.form-control-label 选择地图
            select.form-control(v-model="selectedMap" v-on:change="getTracks(selectedMap)")
                option(v-for="map in maps" v-bind:value="map") {{map.name}}

        .form-group
            label.form-control-label 选择轨迹
            select.form-control(v-model="selectedTrack" v-on:change="selectTrack(selectedTrack)")
                option(v-for="track in tracks" v-bind:value="track") {{track.name}}